*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: hsl(0, 0%, 100%);
    font-family: "Barlow Semi Condensed", sans-serif;
}

main{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content 1fr max-content;
    justify-items: center;
    align-items: center;

    padding: 5rem 3rem;
    height: 100%;

    position: relative;
}

button{
    cursor: pointer;
}

img{
    user-select: none;
}

.header{
    width: 95rem;
    padding: 1rem 2rem;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.score-container{
    background-color: hsl(0, 0%, 100%);
    width: 16rem;
    height: 100%;
    border-radius: 2rem;

    display: grid;
    grid-template-rows: 3rem 1fr;
    justify-items: center;
    align-items: center;
}

.score-text{
    color: hsl(229, 64%, 46%);
    letter-spacing: 8px;
}

.score{
    color: hsl(229, 25%, 31%);
    font-size: 9rem;
}

.rules-btn{
    justify-self: end;
    background-color: transparent;
    border: 1px solid hsl(217, 16%, 45%);
    color: hsl(0, 0%, 100%);
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
}

.playground{
    height: 100%;
    width: 100%;
}

#before-choice{
    display: grid;
    justify-items: center;
    align-items: center;

    height: 100%;
}

#after-choice{

    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 80%;
    margin: 0 auto;

    display: none;

}

.after-choice-container{

    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

}

.after-choice-heading{
    text-transform: uppercase;
    font-size: 2rem;
}

.result-container{
    text-align: center;
}

.result{
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.play-again{
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
}


.playground-bg, .options-container{
    grid-row: 1/2;
    grid-column: 1/2;
}

.options-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.options-container > :nth-child(1){
    transform: translateX(-1rem) translateY(3rem);
}

.options-container > :nth-child(2){
    transform: translateX(4rem) translateY(-4rem);
}

.options-container > :nth-child(3){
    transform: translateX(1rem) translateY(3rem);
}



.options-container > :nth-child(4){
    transform: translateY(-4rem);
}

.options-container > :last-child{
    transform: translateX(-4rem) translateY(-4rem);
}

.scissors{
    grid-row: 1/2;
    grid-column: 3/4;
}

.spock{
    grid-column: 2/3;
    grid-row: 2/3;
}

.lizard{
    grid-column: 2/3;
    grid-row: 3/4;
}

.rock{
    grid-row: 3/4;
    grid-column: 4/5;
}

.paper{
    grid-row: 2/3;
    grid-column: 4/5;
}

.option{
    width: 5rem;
    height: 5rem;
}

.option-bg{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.option-gradient-bg{
    padding: 2rem;
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-gradient-bg.lizard{
    background-image: radial-gradient( hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}   

.option-gradient-bg.rock{
    background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}   

.option-gradient-bg.paper{
    background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}   

.option-gradient-bg.scissors{
    background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}   

.option-gradient-bg.spock{
    background-image: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}   


.rules-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.466);

    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-container{
    background-color: hsl(0, 0%, 100%);
    padding: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 5rem hsla(0, 0%, 0%, 0.568);
}

.rules-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.rules-heading{
    color: hsl(229, 25%, 31%);
    font-size: 3.2rem;
}

.close-icon{
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
}

@media (max-width: 750px){
    .header{
        width: 100%;
    }
}

@media (max-width: 645px) {

    .choice{
        font-size: 2rem;
    }
}

@media (max-width: 415px) {
    .playground{
        width: 100%;
    }
}

@media (max-width: 470px) {
    .rules{
        justify-self: center;
    }
}


@media (max-width: 450px) {
    .rules-container{
        height: 100%;
        width: 100%;
        border-radius: 0;

       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .rules-header{
        margin-bottom: 5rem;
    }
    
    
}
